manifest {
  name = 'nf-eggnog'
  author = 'Sunit Jain'
  homePage = 'https://github.com/FischbachLab/nf-eggnog'
  description = 'Run EggNOG-mapper on a set of protein sequences.'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '1.0.0'
}

// TODO: Add the ability to switch profiles from the command line. Make the AWS Batch profile the default.
// Until I get around doing this, Uncomment the following block to run the pipeline locally. and comment out the includeConfig line.

// Uncomment the following block for local testing
// profiles {
//      local {
//         process.executor = 'local'
//         docker.enabled = true
//      }
//      awsbatch {
//          includeConfig "conf/aws_batch.config"
//      }
// }
// Comment the following line for local testing
includeConfig "$projectDir/conf/aws_batch.config"

params {
/*
 * Defines the pipeline inputs parameters (giving a default value for each for them) 
 * Each of the following parameters can be specified as command line options
 */

  outdir = "s3://genomics-workflow-core/Results/EggNOG"

  project = "00_Test"
  prefix = "20241212"

  seedfile = null
  workflow   = null
  
  // docker containers
  eggnog_container = "458432034220.dkr.ecr.us-west-2.amazonaws.com/eggnog:2.1.12"
  db_path = "/mnt/efs/databases/eggNOG/v5.0.2"
}


process {
  maxRetries = 3
	queue = 'default-maf-pipelines'
  errorStrategy = { task.exitStatus in [104,134,137,138,139,140,143,199] ? 'retry' : 'finish' }
  withLabel: 'large_compute' {
    time =  8.hour
    cpus = {30 * task.attempt}
    memory = {110.GB * task.attempt}
    container = params.eggnog_container
  }
  withLabel: 'small_compute' {
    time =  4.hour
    cpus = {7 * task.attempt}
    memory = {28.GB * task.attempt}
    container = params.eggnog_container
  }
}

// This seems to be quite unreliable when running on AWS Batch
// some jobs run just fine, where as other jobs fail with the following error:
// "Command 'ps' required by nextflow to collect task metrics cannot be found"
// Could be an AWS Batch issue where the container is not refreshed, maybe? not sure.
// removing this section for now.

// trace {
//     enabled = false
//     overwrite = true
//     file = "${params.outdir}/${params.project}/${params.prefix}/${params.workflow}/reports/trace-${params.prefix}.tsv"
// }

// timeline {
//   enabled = true
//   overwrite = true
//   file = "${params.outdir}/${params.project}/${params.prefix}/${params.workflow}/reports/timeline-${params.prefix}.html"
// }

// report {
//   enabled = true
//   overwrite = true
//   file = "${params.outdir}/${params.project}/${params.prefix}/${params.workflow}/reports/execution-report-${params.prefix}.html"
// }

// dag {
//   enabled = true
//   overwrite = true
//   file = "${params.outdir}/${params.project}/${params.prefix}/${params.workflow}/reports/dag-${params.prefix}.html"
// }